In [1]:
# Let's first install selenium library 
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: certifi in c:\users\asus\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\asus\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

now we will download the webdriver for web browser. The steps for downloading the web driver for your browser are:
1) check the version of your browser
2) go to the link_ https://chromedriver.chromium.org/downloads
3) download the web driver for the version of browser

In [2]:
# Let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Let's first connect to web driver
driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32/chromedriver.exe')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [4]:
#First get the webpage

url = 'http://www.naukri.com/'
driver.get(url)

# Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field

In [5]:
# finding web element for search job bar using id
search_job = driver.find_element_by_class_name("suggestor-input ")
search_job

In [6]:
#write on search bar
search_job.send_keys("Data Analyst")

In [7]:
#finding web elements for search loan bar using absolute xpath
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [8]:
search_locn.send_keys("Bangalore")

# click the search button

In [ ]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [10]:
search_btn.click()

# scrape the data for the first 10 jobs results.

In [24]:
# let's extract all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="87fc5449-902c-49ed-bb65-a245ea9d9cf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="62ed5912-62c4-4bae-ae1f-33a95031756e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="f3125b38-7028-4e14-bf7f-02168a1d2898")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="3b9e51aa-5a15-46aa-a94b-3af8e8e170f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="f4c9bb09-9629-4b7d-a3d0-3b598d439ee0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="59970bd1-f141-40b0-a9c4-3e5c382b8f40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="b1b1e979-a611-4f42-a9d4-f1f98a5c7eda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="c81d713f-be75-4fe2-8aa9-271ced63cb68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="a60f1322-a492-4f54-9c40-bcc8b5e34e43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="9bfbe5d1-9088-4b16-89ec-15099915eaaa")>]

In [25]:
# Now the text of job title is inside the web elements extracted above 
# so we will run a for loop to iterate over the tags and will extract the job title 

job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Hiring For Data Analyst I(SQL & Python)',
 'Senior Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Analyst II',
 'Hiring Data analyst with Pharma Background across India',
 'Data Coordinator | Data Analyst | MS Excel | Typing | Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Consultant - Data Analyst',
 'software developer & Testing / Business Analyst/Data Analyst/Python.']

# Extracting company names

In [26]:
# Let's extract all web elements having company names 

company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="ef3bb349-cf44-41e7-b8d3-4cb9ef29c4cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="1479d921-2ef3-4f58-b91a-416e3d51c60d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="9d1a0b9a-17b2-4c45-b218-2f2c28a2f40b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="765cc4ee-6299-4624-a735-1cbdf05da025")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="1193bfbc-b4d9-4fa3-b9b5-e4c7130c83df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="f817fbaf-f793-4d72-90e6-f72d6060aa32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="d16ea441-3ac2-43f9-b01b-b62de944f6ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="3c8080ae-ada7-4329-b973-daeede48940c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="57a7049b-ff6e-47a2-81f3-9837f3f9fb53")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="0f58eba3-d11f-4a71-8f1d-a086b4cde070")>]

In [27]:
# so we will run a for loop to iterate over the tags and extract the company names

company_names = []

for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['Clario India Pvt Ltd',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'HCL',
 'Inspiration Manpower Consultancy Pvt. Ltd.',
 'Flipkart',
 'Flipkart',
 'Flipkart',
 'SECRET TECHNOLOGIES INDIA VMS GROUP']

# Extracting experience

In [28]:
# let's extract all web elements having experience using parent tag

exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)
exp_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="4846b55d-c490-466a-b3a5-e2d1356ec3b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="6f535ef8-424c-44f5-970f-6787ae3dd686")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="bf1b7740-60ca-4e4f-80ea-991f90b7523a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="85293f7a-2735-4cb0-aaec-45dbb5fdaf2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="14bf4cae-c838-4cec-9f5c-8791c4f600f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="e56ddbcf-acbd-441e-8504-b84bf6dcfc62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="5bda273d-ec7c-42d1-bc33-e1c41012e6bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="6ff86aa6-3e74-4ea6-8a9c-f81fd427d25a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="9420d30c-b240-4b25-834c-c3260b0a884b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="da35891a-b21c-41ac-a8b1-bf41cdaf999f")>]

In [29]:
experience = []

for i in exp_tags:
    experience.append(i.text)
experience[0:10]

['0-2 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '6-11 Yrs',
 '1-2 Yrs',
 '1-2 Yrs',
 '1-3 Yrs',
 '0-4 Yrs',
 '5-7 Yrs']

# Extracting location

In [30]:
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [31]:
location = []

for i in locn_tags:
    location.append(i.text)
location[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru(Sadashiva Nagar)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumbai (All Areas)\n(WFH during Covid)']

# Extracting salary

In [32]:
slry_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(slry_tags)

20

In [33]:
salary = []

for i in slry_tags:
    salary.append(i.text)
salary[0:10]

['6,00,000 - 8,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '15,00,000 - 20,00,000 PA.',
 '1,00,000 - 2,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '2,00,000 - 6,50,000 PA.']

In [36]:
len(job_titles), len(company_names), len(experience), len(location), len(salary)

(20, 20, 19, 20, 20)

# Finally create a dataframe of the scraped data

In [37]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] =company_names
jobs['Salary'] = salary
jobs['Location'] = location
jobs

,Job Title,Company,Salary,Location
0,Hiring For Data Analyst I(SQL & Python),Clario India Pvt Ltd,"6,00,000 - 8,00,000 PA.",Bangalore/Bengaluru
1,Senior Data Analyst,Flipkart,Not disclosed,Bangalore/Bengaluru
2,Senior Data Analyst II,Flipkart,Not disclosed,Bangalore/Bengaluru
3,Senior Data Analyst II,Flipkart,Not disclosed,Bangalore/Bengaluru
4,Hiring Data analyst with Pharma Background acr...,HCL,"15,00,000 - 20,00,000 PA.","Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
5,Data Coordinator | Data Analyst | MS Excel | T...,Inspiration Manpower Consultancy Pvt. Ltd.,"1,00,000 - 2,50,000 PA.",Bangalore/Bengaluru(Sadashiva Nagar)
6,Data Analyst,Flipkart,Not disclosed,Bangalore/Bengaluru
7,Data Analyst,Flipkart,Not disclosed,Bangalore/Bengaluru
8,Consultant - Data Analyst,Flipkart,Not disclosed,Bangalore/Bengaluru
9,software developer & Testing / Business Analys...,SECRET TECHNOLOGIES INDIA VMS GROUP,"2,00,000 - 6,50,000 PA.","Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb..."
10,Staff Business Data Analyst - FDP,Intuit Inc.,Not disclosed,Bangalore/Bengaluru
11,Data Analyst,Gojek,Not disclosed,Bangalore/Bengaluru
12,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,K12 Techno Services Pvt Ltd,Not disclosed,Bangalore/Bengaluru
13,Senior Data Analyst,Capco,Not disclosed,Bangalore/Bengaluru
14,Senior Data Analyst,Mobile Premier League,Not disclosed,Bangalore/Bengaluru
15,Senior Data Analyst,Flipkart,Not disclosed,Bangalore/Bengaluru
16,Python Data Analyst (Full Time Remote/WFH),Cimpress,Not disclosed,Remote
17,Hiring For Data Analyst!!!,Ignitho,Not disclosed,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)"
18,Data Analyst,SunEdison,Not disclosed,"Bangalore/Bengaluru, Mumbai (All Areas)"
19,Looking For Data Analyst,Trellance,"2,00,000 - 7,00,000 PA.","Ahmedabad, Bangalore/Bengaluru"

In [38]:
jobs.head(10)

,Job Title,Company,Salary,Location
0,Hiring For Data Analyst I(SQL & Python),Clario India Pvt Ltd,"6,00,000 - 8,00,000 PA.",Bangalore/Bengaluru
1,Senior Data Analyst,Flipkart,Not disclosed,Bangalore/Bengaluru
2,Senior Data Analyst II,Flipkart,Not disclosed,Bangalore/Bengaluru
3,Senior Data Analyst II,Flipkart,Not disclosed,Bangalore/Bengaluru
4,Hiring Data analyst with Pharma Background acr...,HCL,"15,00,000 - 20,00,000 PA.","Hyderabad/Secunderabad, Chennai, Bangalore/Ben..."
5,Data Coordinator | Data Analyst | MS Excel | T...,Inspiration Manpower Consultancy Pvt. Ltd.,"1,00,000 - 2,50,000 PA.",Bangalore/Bengaluru(Sadashiva Nagar)
6,Data Analyst,Flipkart,Not disclosed,Bangalore/Bengaluru
7,Data Analyst,Flipkart,Not disclosed,Bangalore/Bengaluru
8,Consultant - Data Analyst,Flipkart,Not disclosed,Bangalore/Bengaluru
9,software developer & Testing / Business Analys...,SECRET TECHNOLOGIES INDIA VMS GROUP,"2,00,000 - 6,50,000 PA.","Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb..."

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

# get the webpage

In [41]:
url = 'https://www.naukri.com/'
driver.get(url)

# Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.

In [42]:
search_job = driver.find_element_by_class_name("suggestor-input ")
search_job

In [43]:
search_job.send_keys("Data Scientist")

In [44]:
search_locn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [45]:
search_locn.send_keys("Bangalore")

# click the search button.

In [48]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [49]:
search_btn.click()

# scrape the data for the first 10 jobs results

In [50]:
# let's extract all web elements having job titles
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="d99c29b1-210f-4a1e-a3da-2ddb9ab4fbd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="d9eb1b75-c021-4e9a-aebb-b781d47f009b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="5de54df3-acae-4267-b415-b83f04c74d28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="ff9c6fc5-cc2a-4da3-b6d2-448dc814a30a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="4151770b-93b7-49cd-8a59-c3651272b999")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="322e048c-1011-4aaf-a495-8053f46cf899")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="25291317-a708-45c4-92b7-c53b2a49f085")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="811a5db0-12a7-47e7-80a4-558add2f8942")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="80b52101-684f-4448-a913-3dfe6fdfcdf9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="3724c202-26a8-4884-8ec0-e788078e3958")>]

In [51]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

['Principal Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Need Data scientists and data engineers - WFH- less than 30days notice',
 'Data Scientist',
 'Senior/ Lead Data Scientist',
 'Data Scientist / Analyst',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Hiring Data Scientist - Analytics',
 'Computer Vision Python Data Scientist']

In [52]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="240af8ef-faf6-4888-b739-5c506b3deafa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="e1d776c5-9d66-4fc6-ad16-a6f948283318")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="72571e77-5492-4f3c-aee3-a64c5b456812")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="afcabc18-8066-4ed6-bed0-a89586c9c316")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="382ca5ad-90cc-49a8-820e-9d89586a4e86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="7eb08115-9d57-40d9-b50a-91a4045b83f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="41bfe861-af6f-488c-8513-a5ab2411ab9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="238712ba-0976-4158-9c75-6d6845250738")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="18776c2c-3aba-4d9b-8ddf-2c33c8916ea9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="70b32d4b74d412bd3c06ab0b444f155b", element="3c219375-e50b-4810-bb42-86a66dfe5285")>]

In [54]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['Mobile Premier League',
 'HDFC Bank',
 'Shell',
 'Covalense Technologies Private Limited',
 'Gojek',
 'AmoliTalents',
 'open data fabric',
 'Concentrix',
 'Firstsource Solutions Limited',
 'OceanOfWeb']

In [55]:
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [56]:
experience = []

for i in exp_tags:
    experience.append(i.text)
experience[0:10]

['8-12 Yrs',
 '1-6 Yrs',
 '4-9 Yrs',
 '8-13 Yrs',
 '4-10 Yrs',
 '5-10 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '4-6 Yrs']

In [57]:
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [58]:
location = []

for i in locn_tags:
    location.append(i.text)
location[0:10]

['Bangalore/Bengaluru',
 'Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru']

In [59]:
slry_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(slry_tags)

20

In [60]:
salary = []

for i in slry_tags:
    salary.append(i.text)
salary[0:10]

['Not disclosed',
 '14,00,000 - 24,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed']

In [61]:
len(job_titles), len(company_names), len(experience), len(location), len(salary)

(20, 20, 20, 20, 20)

# Create dataframe

In [62]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] =company_names
jobs['Experience'] = experience
jobs['Location'] = location
jobs['Salary'] = salary
jobs

,Job Title,Company,Experience,Location,Salary
0,Principal Data Scientist,Mobile Premier League,8-12 Yrs,Bangalore/Bengaluru,Not disclosed
1,Data Scientist,HDFC Bank,1-6 Yrs,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...","14,00,000 - 24,00,000 PA."
2,Data Scientist,Shell,4-9 Yrs,Bangalore/Bengaluru,Not disclosed
3,Need Data scientists and data engineers - WFH-...,Covalense Technologies Private Limited,8-13 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Not disclosed
4,Data Scientist,Gojek,4-10 Yrs,Bangalore/Bengaluru,Not disclosed
5,Senior/ Lead Data Scientist,AmoliTalents,5-10 Yrs,Bangalore/Bengaluru,Not disclosed
6,Data Scientist / Analyst,open data fabric,4-9 Yrs,Bangalore/Bengaluru,Not disclosed
7,Forecasting Analyst/ Data Scientist (US Client),Concentrix,3-8 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Not disclosed
8,Hiring Data Scientist - Analytics,Firstsource Solutions Limited,3-8 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)",Not disclosed
9,Computer Vision Python Data Scientist,OceanOfWeb,4-6 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Not disclosed
10,Data Scientist,Minions Ventures,3-4 Yrs,Bangalore/Bengaluru,Not disclosed
11,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...","3,50,000 - 5,00,000 PA."
12,Junior Data Scientist,Titan,1-5 Yrs,Bangalore/Bengaluru,Not disclosed
13,Data Scientist,Amazon,7-12 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Not disclosed
14,Data Scientist,Hewlett-Packard (HP),7-10 Yrs,Bangalore/Bengaluru,Not disclosed
15,Data Scientist,Genpact,6-10 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru",Not disclosed
16,Data Scientist _NLP,EXL,3-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ...",Not disclosed
17,Data Scientist,Shell,4-9 Yrs,Bangalore/Bengaluru,Not disclosed
18,Data Scientist,Master Mind Consultancy,10-15 Yrs,"Mumbai, Bangalore/Bengaluru, Mumbai, Bangalore",Not disclosed
19,Data Scientist,Master Mind Consultancy,6-11 Yrs,"Mumbai, Bangalore/Bengaluru",Not disclosed

In [63]:
jobs.head(10)

,Job Title,Company,Experience,Location,Salary
0,Principal Data Scientist,Mobile Premier League,8-12 Yrs,Bangalore/Bengaluru,Not disclosed
1,Data Scientist,HDFC Bank,1-6 Yrs,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben...","14,00,000 - 24,00,000 PA."
2,Data Scientist,Shell,4-9 Yrs,Bangalore/Bengaluru,Not disclosed
3,Need Data scientists and data engineers - WFH-...,Covalense Technologies Private Limited,8-13 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",Not disclosed
4,Data Scientist,Gojek,4-10 Yrs,Bangalore/Bengaluru,Not disclosed
5,Senior/ Lead Data Scientist,AmoliTalents,5-10 Yrs,Bangalore/Bengaluru,Not disclosed
6,Data Scientist / Analyst,open data fabric,4-9 Yrs,Bangalore/Bengaluru,Not disclosed
7,Forecasting Analyst/ Data Scientist (US Client),Concentrix,3-8 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Not disclosed
8,Hiring Data Scientist - Analytics,Firstsource Solutions Limited,3-8 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)",Not disclosed
9,Computer Vision Python Data Scientist,OceanOfWeb,4-6 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Chennai,...",Not disclosed

In [64]:
jobs.tail(10)

,Job Title,Company,Experience,Location,Salary
10,Data Scientist,Minions Ventures,3-4 Yrs,Bangalore/Bengaluru,Not disclosed
11,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...","3,50,000 - 5,00,000 PA."
12,Junior Data Scientist,Titan,1-5 Yrs,Bangalore/Bengaluru,Not disclosed
13,Data Scientist,Amazon,7-12 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",Not disclosed
14,Data Scientist,Hewlett-Packard (HP),7-10 Yrs,Bangalore/Bengaluru,Not disclosed
15,Data Scientist,Genpact,6-10 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru",Not disclosed
16,Data Scientist _NLP,EXL,3-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ...",Not disclosed
17,Data Scientist,Shell,4-9 Yrs,Bangalore/Bengaluru,Not disclosed
18,Data Scientist,Master Mind Consultancy,10-15 Yrs,"Mumbai, Bangalore/Bengaluru, Mumbai, Bangalore",Not disclosed
19,Data Scientist,Master Mind Consultancy,6-11 Yrs,"Mumbai, Bangalore/Bengaluru",Not disclosed

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:

1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

first get the webpage

In [67]:
driver = webdriver.Chrome(r'C:/Users/ASUS/Downloads/chromedriver_win32/chromedriver.exe')

In [68]:
url = 'https://www.naukri.com/'
driver.get(url)

Enter “Data Scientist” in “Skill, Designations, and Companies” field.

In [92]:
search_job = driver.find_element_by_class_name("suggestor-input ")
search_job

In [93]:
search_job.send_keys("Data Scientist")

click the search button.

In [94]:
search_btn = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [95]:
search_btn.click()

Apply the location filter and salary filter by checking the respective boxes

The location filter to be used is “Delhi/NCR”.

In [96]:
location_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')

In [98]:
location_check.click()

The salary filter to be used is “3-6” lakhs

In [100]:
salary_check = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')

In [101]:
salary_check.click()

scraping the data for the first 10 jobs results.

In [103]:
company_tags = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [104]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['NTT Data',
 'GABA Consultancy services',
 'Lumiq.ai',
 'Sejal Consulting Hub',
 'EXL',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'GABA Consultancy services',
 'Indihire HR Consultants Private Limited',
 'Mascot e-services']

In [105]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [107]:
job_titles = []
for i in title_tags:
    job_titles.append(i.text)
job_titles[0:10]

['Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Hiring For Senior Data Scientist-Noida',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Data Scientist _NLP',
 'Data Scientist - MIND Infotech',
 'Data Scientist - MIND Infotech',
 'Only Fresher / Python Data Scientist / Trainee / Analytics - MNC Jobs',
 'Lead Data Scientist',
 'Hiring For Data Scientist- Gurgaon/ Noida']

In [108]:
exp_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [109]:
experience = []

for i in exp_tags:
    experience.append(i.text)
experience[0:10]

['0-0 Yrs',
 '0-0 Yrs',
 '2-6 Yrs',
 '0-3 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '0-0 Yrs',
 '2-4 Yrs',
 '2-4 Yrs']

In [110]:
slry_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
len(slry_tags)

20

In [111]:
salary = []

for i in slry_tags:
    salary.append(i.text)
salary[0:10]

['3,50,000 - 5,00,000 PA.',
 '2,25,000 - 4,75,000 PA.',
 'Not disclosed',
 '4,00,000 - 7,00,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '2,25,000 - 4,75,000 PA.',
 'Not disclosed',
 '5,00,000 - 7,50,000 PA.']

In [112]:
locn_tags = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [113]:
location = []

for i in locn_tags:
    location.append(i.text)
location[0:10]

['Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida, New Delhi, Delhi / NCR',
 'Noida, New Delhi, Greater Noida',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru, Delhi / NCR\n(WFH during Covid)',
 'Noida',
 'Noida',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Delhi / NCR\n(WFH during Covid)',
 'Noida, Gurgaon/Gurugram']

In [122]:
skill_tags = driver.find_elements_by_xpath('//div[@class="job-description fs12 grey-text"]')
len(skill_tags)

20

In [123]:
skills = []

for i in profile_tags:
    skills.append(i.text)
skills[0:10]

['Roles and Responsibilities Profile AI/ML Engineer Fresher Must-Have Skills Bachelors De...',
 'Only Fresher Can Apply Description 1>Excel SQL, Python/R 2>Work independently 3>Analyti...',
 'Must have at least built one AI / ML use case from scratch, implemented and iterated th...',
 'Willingness to work beyond traditional working hours / days as required by the business...',
 'Strong Predictive Modeling (Regression based methods) and Machine Learning (Tree based ...',
 'About CompanyMIND is an IT services company, in collaboration with Sumitomo Wiring Syst...',
 'About CompanyMIND is an IT services company, in collaboration with Sumitomo Wiring Syst...',
 'Only Fresher Can Apply:.Description Good in Analytics',
 'Job purpose:In this position one would be required to Lead Data initiatives, build rich...',
 'Work from home until April Need minimum 2 years of experience as a Data ScientistPeople...']

In [124]:
len(company_names), len(job_titles), len(experience), len(salary),len(location), len(skills)

(20, 20, 20, 20, 20, 20)

 Creating a dataframe of the scraped data

In [125]:
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles
jobs['Company'] =company_names
jobs['Experience'] = experience
jobs['Location'] = location
jobs['Salary'] = salary
jobs['Skills'] = skills
jobs

,Job Title,Company,Experience,Location,Salary,Skills
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...","3,50,000 - 5,00,000 PA.",Roles and Responsibilities Profile AI/ML Engin...
1,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR","2,25,000 - 4,75,000 PA.",Only Fresher Can Apply Description 1>Excel SQL...
2,Hiring For Senior Data Scientist-Noida,Lumiq.ai,2-6 Yrs,"Noida, New Delhi, Greater Noida",Not disclosed,Must have at least built one AI / ML use case ...
3,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...","4,00,000 - 7,00,000 PA.",Willingness to work beyond traditional working...
4,Data Scientist _NLP,EXL,3-8 Yrs,"Bangalore/Bengaluru, Delhi / NCR\n(WFH during ...",Not disclosed,Strong Predictive Modeling (Regression based m...
5,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida,Not disclosed,"About CompanyMIND is an IT services company, i..."
6,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida,Not disclosed,"About CompanyMIND is an IT services company, i..."
7,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram","2,25,000 - 4,75,000 PA.",Only Fresher Can Apply:.Description Good in An...
8,Lead Data Scientist,Indihire HR Consultants Private Limited,2-4 Yrs,Delhi / NCR\n(WFH during Covid),Not disclosed,Job purpose:In this position one would be requ...
9,Hiring For Data Scientist- Gurgaon/ Noida,Mascot e-services,2-4 Yrs,"Noida, Gurgaon/Gurugram","5,00,000 - 7,50,000 PA.",Work from home until April Need minimum 2 year...
10,Urgent Requirement || Data Scientist || Noida,HCL,3-8 Yrs,"Noida, Delhi / NCR",Not disclosed,Education- Bachelors Degree (Computer Science)...
11,Data Scientist,Boston Consulting Group,2-5 Yrs,New Delhi,Not disclosed,Recent PhD or Master s Degree in computer scie...
12,Data Scientist,Stefanini,3-8 Yrs,Noida,Not disclosed,Roles & Responsibilities Analyzing and underst...
13,Senior Data Scientist,iNICU,1-5 Yrs,Delhi,Not disclosed,Requirements: BTech/ MTech (Preferred) with 1-...
14,Lead Data Scientist - KYC/Fraud/Marketing,Tide Software,1-6 Yrs,New Delhi,Not disclosed,Work closely with our KYC team in order to bui...
15,Open Project | IT Consulting | Data Scientist,Virtuoso Staffing Solutions Pvt Ltd,5-10 Yrs,"Noida, New Delhi, Bangalore Rural, Bangalore/B...",Not disclosed,• Data analysis and predictive modelling using...
16,Data Scientist,BlackBuck,3-7 Yrs,"Gurgaon, Bengaluru",Not disclosed,Some of the problem areas are Insights across ...
17,Data Scientist,Country Veggie,1-3 Yrs,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Not disclosed,Bachelor degree Experience with common data sc...
18,Data Scientist,NAVIKENZ INDIA PRIVATE LIMITED,2-5 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Not disclosed,"Experience in statistical, machine learning al..."
19,Data Scientist,Mahajan Imaging,2-6 Yrs,Delhi,Not disclosed,Responsible for driving Mahajan Imaging's new ...

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [230]:
#Go to Flipkart webpage by url
url = 'https://www.flipkart.com/'
driver.get(url)

In [231]:
#Enter “sunglasses” in the search field where “search for products, brands andmore” is written.
search_product = driver.find_element_by_class_name("_3704LK")
search_product

In [232]:
search_product.send_keys("sunglasses")

In [233]:
# click the search icon
search_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [234]:
search_btn.click()

#From this pageyou can scrap the required data as usual

# first page

In [235]:
#brands

brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

40

In [236]:
brand_name = []

for i in brand_tags:
    brand_name.append(i.text)
len(brand_name)
brand_name[0:40]

['Singco India',
 'VINCENT CHASE',
 'SRPM',
 'SUNBEE',
 'PIRASO',
 'DEIXELS',
 'Elligator',
 'ROZZETTA CRAFT',
 'Fastrack',
 'New Specs',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'GANSTA',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'povty',
 'Lee Topper',
 'Silver Kartz',
 'PHENOMENAL',
 'ZOSTAL',
 'Fastrack',
 'kingsunglasses',
 'Elligator',
 'VINCENT CHASE',
 'Rich Club',
 'Fastrack',
 'PIRASO',
 'POLICE',
 'kingsunglasses',
 'Elligator',
 'New Specs',
 'Singco India',
 'ROYAL SON',
 'Fastrack',
 'SRPM',
 'LOUIS KOUROS']

In [237]:
# Product Description

description_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(description_tags)

40

In [209]:
product_description = []

for i in description_tags:
    product_description.append(i.text)
len(product_description)
product_description[0:40]

['UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection Retro Square Sunglasses (53)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Mirrored Aviator Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Rectangular Sunglasses (59)']

In [239]:
# price

price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

40

In [240]:
price = []

for i in price_tags:
    price.append(i.text)
len(price)
price[0:40]

['₹614',
 '₹930',
 '₹148',
 '₹203',
 '₹179',
 '₹152',
 '₹208',
 '₹349',
 '₹629',
 '₹182',
 '₹115',
 '₹181',
 '₹134',
 '₹148',
 '₹175',
 '₹349',
 '₹549',
 '₹424',
 '₹149',
 '₹249',
 '₹225',
 '₹196',
 '₹239',
 '₹128',
 '₹548',
 '₹189',
 '₹139',
 '₹799',
 '₹210',
 '₹629',
 '₹175',
 '₹3,029',
 '₹136',
 '₹126',
 '₹213',
 '₹144',
 '₹329',
 '₹629',
 '₹128',
 '₹1,299']

In [241]:
Sunglasses_1 = pd.DataFrame()
Sunglasses_1['Brand'] = brand_name
Sunglasses_1['Description'] =product_description
Sunglasses_1['Price'] = price
Sunglasses_1

,Brand,Description,Price
0,Singco India,UV Protection Wayfarer Sunglasses (50),₹614
1,VINCENT CHASE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹930
2,SRPM,UV Protection Aviator Sunglasses (54),₹148
3,SUNBEE,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹203
4,PIRASO,UV Protection Aviator Sunglasses (54),₹179
5,DEIXELS,UV Protection Round Sunglasses (54),₹152
6,Elligator,UV Protection Rectangular Sunglasses (Free Size),₹208
7,ROZZETTA CRAFT,"UV Protection, Polarized, Mirrored Rectangular...",₹349
8,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹629
9,New Specs,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹182
10,SHAAH COLLECTIONS,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹115
11,ROZZETTA CRAFT,UV Protection Wayfarer Sunglasses (Free Size),₹181
12,kingsunglasses,UV Protection Aviator Sunglasses (54),₹134
13,GANSTA,UV Protection Rectangular Sunglasses (Free Size),₹148
14,PIRASO,"Polarized, Night Vision, Riding Glasses Sports...",₹175
15,ROZZETTA CRAFT,Riding Glasses Wrap-around Sunglasses (Free Size),₹349
16,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹549
17,ROZZETTA CRAFT,UV Protection Wayfarer Sunglasses (55),₹424
18,Lee Topper,UV Protection Round Sunglasses (53),₹149
19,povty,UV Protection Round Sunglasses (48),₹249
20,Lee Topper,UV Protection Retro Square Sunglasses (53),₹225
21,Silver Kartz,Polarized Retro Square Sunglasses (Free Size),₹196
22,PHENOMENAL,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹239
23,ZOSTAL,UV Protection Wayfarer Sunglasses (53),₹128
24,Fastrack,UV Protection Round Sunglasses (54),₹548
25,kingsunglasses,UV Protection Wayfarer Sunglasses (53),₹189
26,Elligator,"UV Protection, Polarized, Mirrored Round Sungl...",₹139
27,VINCENT CHASE,"Mirrored, UV Protection, Riding Glasses, Other...",₹799
28,Rich Club,Mirrored Aviator Sunglasses (55),₹210
29,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹629
30,PIRASO,UV Protection Wayfarer Sunglasses (32),₹175
31,POLICE,Mirrored Aviator Sunglasses (Free Size),"₹3,029"
32,kingsunglasses,"UV Protection, Polarized, Mirrored Rectangular...",₹136
33,Elligator,UV Protection Round Sunglasses (Free Size),₹126
34,New Specs,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹213
35,Singco India,"Mirrored, UV Protection Wayfarer, Rectangular ...",₹144
36,ROYAL SON,"Others Wayfarer, Retro Square Sunglasses (50)",₹329
37,Fastrack,UV Protection Aviator Sunglasses (57),₹629
38,SRPM,UV Protection Sports Sunglasses (62),₹128
39,LOUIS KOUROS,UV Protection Rectangular Sunglasses (59),"₹1,299"

In [242]:
# Go to the “Next” Button at the bottom of the page , then click on it

next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
search_btn

# second page

In [243]:
next_btn.click()

In [244]:
#brands

brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

40

In [245]:
brand_name = []

for i in brand_tags:
    brand_name.append(i.text)
len(brand_name)
brand_name[0:40]

['kingsunglasses',
 'GANSTA',
 'NuVew',
 'LOUIS KOUROS',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'PIRASO',
 'New Specs',
 'Rich Club',
 'NuVew',
 'SRPM',
 'PIRASO',
 'PIRASO',
 'LOUIS KOUROS',
 'PIRASO',
 'ROYAL SON',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'PIRASO',
 'IDEE',
 'IDEE',
 'DJIN',
 'Singco India',
 'IDEE',
 'New Specs',
 'NuVew',
 'Lee Topper',
 'PHENOMENAL',
 'Lee Topper',
 'AISLIN',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'hipe',
 'NuVew',
 'SUNBEE',
 'kingsunglasses',
 'Poloport',
 'Soul Hub']

In [246]:
# Product Description

description_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(description_tags)

40

In [247]:
product_description = []

for i in description_tags:
    product_description.append(i.text)
len(product_description)
product_description[0:40]

['Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Aviator Sunglasses (60)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Cat-eye Sunglasses (60)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Riding Glasses, Mirrored Aviator Sunglas...',
 'Mirrored Aviator Sunglasses (32)',
 'Mirrored Aviator Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Gradient Retro Square Sunglasses (62)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Cat-eye Sunglasses (17)',
 'UV Protection Over-sized Sunglasses (57)',
 'Night Vision, Riding Glasses Sports Sunglasses (52)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection Cat-eye Sunglasses (17)',
 'UV Protection, Mirrored Sports Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)']

In [248]:
# price

price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

40

In [249]:
price = []

for i in price_tags:
    price.append(i.text)
len(price)
price[0:40]

['₹208',
 '₹234',
 '₹277',
 '₹1,299',
 '₹329',
 '₹424',
 '₹278',
 '₹599',
 '₹249',
 '₹133',
 '₹125',
 '₹345',
 '₹149',
 '₹325',
 '₹299',
 '₹1,419',
 '₹149',
 '₹329',
 '₹749',
 '₹449',
 '₹325',
 '₹869',
 '₹929',
 '₹179',
 '₹144',
 '₹859',
 '₹108',
 '₹258',
 '₹325',
 '₹267',
 '₹226',
 '₹396',
 '₹130',
 '₹349',
 '₹159',
 '₹353',
 '₹180',
 '₹129',
 '₹186',
 '₹1,299']

In [250]:
Sunglasses_2 = pd.DataFrame()
Sunglasses_2['Brand'] = brand_name
Sunglasses_2['Description'] =product_description
Sunglasses_2['Price'] = price
Sunglasses_2

             Brand                                        Description   Price
0   kingsunglasses  Mirrored, UV Protection Wayfarer, Rectangular ...    ₹208
1           GANSTA              UV Protection Aviator Sunglasses (57)    ₹234
2            NuVew               UV Protection Sports Sunglasses (62)    ₹277
3     LOUIS KOUROS              UV Protection Aviator Sunglasses (60)  ₹1,299
4        ROYAL SON            Mirrored Aviator Sunglasses (Free Size)    ₹329
5   ROZZETTA CRAFT  UV Protection Retro Square Sunglasses (Free Size)    ₹424
6       PHENOMENAL  UV Protection Retro Square Sunglasses (Free Size)    ₹278
7   ROZZETTA CRAFT              UV Protection Aviator Sunglasses (62)    ₹599
8           PIRASO       UV Protection Aviator Sunglasses (Free Size)    ₹249
9        New Specs       UV Protection Aviator Sunglasses (Free Size)    ₹133
10       Rich Club                    Polarized Round Sunglasses (48)    ₹125
11           NuVew              UV Protection Cat-eye Sunglasses (60)    ₹345
12            SRPM  Night Vision, UV Protection Round Sunglasses (54)    ₹149
13          PIRASO            UV Protection Butterfly Sunglasses (65)    ₹325
14          PIRASO              UV Protection Aviator Sunglasses (58)    ₹299
15    LOUIS KOUROS  UV Protection, Riding Glasses, Mirrored Aviato...  ₹1,419
16          PIRASO                   Mirrored Aviator Sunglasses (32)    ₹149
17       ROYAL SON                   Mirrored Aviator Sunglasses (55)    ₹329
18   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹749
19  ROZZETTA CRAFT  UV Protection, Gradient Retro Square Sunglasse...    ₹449
20          PIRASO            UV Protection Butterfly Sunglasses (60)    ₹325
21            IDEE              UV Protection Cat-eye Sunglasses (17)    ₹869
22            IDEE           UV Protection Over-sized Sunglasses (57)    ₹929
23            DJIN  Night Vision, Riding Glasses Sports Sunglasses...    ₹179
24    Singco India  Mirrored, Riding Glasses, Others Sports Sungla...    ₹144
25            IDEE              UV Protection Cat-eye Sunglasses (17)    ₹859
26       New Specs  UV Protection, Mirrored Sports Sunglasses (Fre...    ₹108
27           NuVew              UV Protection Aviator Sunglasses (57)    ₹258
28      Lee Topper  UV Protection, Riding Glasses Retro Square, Sp...    ₹325
29      PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...    ₹267
30      Lee Topper  Riding Glasses, Night Vision Wrap-around Sungl...    ₹226
31          AISLIN  UV Protection, Gradient Round, Cat-eye Sunglas...    ₹396
32  kingsunglasses   UV Protection Rectangular Sunglasses (Free Size)    ₹130
33  ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...    ₹349
34            hipe  UV Protection, Gradient, Mirrored, Riding Glas...    ₹159
35           NuVew              UV Protection Cat-eye Sunglasses (60)    ₹353
36          SUNBEE  UV Protection, Polarized, Mirrored Retro Squar...    ₹180
37  kingsunglasses  UV Protection, Others Round, Aviator Sunglasse...    ₹129
38        Poloport      UV Protection Wayfarer Sunglasses (Free Size)    ₹186
39        Soul Hub  UV Protection, Mirrored Aviator Sunglasses (Fr...  ₹1,299

In [251]:
#next button

next_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
search_btn

# third page

In [252]:
next_btn.click()

In [253]:
#brands

brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand_tags)

40

In [254]:
brand_name = []

for i in brand_tags:
    brand_name.append(i.text)
len(brand_name)
brand_name[0:20]

['Fastrack',
 'SHAAH COLLECTIONS',
 'SUNBEE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'VILLAIN',
 'povty',
 'PIRASO',
 'elegante',
 'AISLIN',
 'Fastrack',
 'Rich Club',
 'ROZZETTA CRAFT',
 'NuVew',
 'PHENOMENAL',
 'Rich Club',
 'PHENOMENAL',
 'AISLIN']

In [275]:
# Product Description

description_tags = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(description_tags)

39

In [279]:
product_description = []

for i in description_tags:
    product_description.append(i.text)
len(product_description)
product_description[0:20]

['UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (55)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (61)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized Oval, Retro Square Sunglasses ...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Gradient Cat-eye Sunglasses (60)']

In [266]:
# price

price_tags = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price_tags)

40

In [193]:
price = []

for i in price_tags:
    price.append(i.text)
len(price)
price[0:20]

['₹267',
 '₹424',
 '₹130',
 '₹212',
 '₹108',
 '₹325',
 '₹159',
 '₹145',
 '₹959',
 '₹180',
 '₹349',
 '₹345',
 '₹709',
 '₹234',
 '₹203',
 '₹275',
 '₹549',
 '₹186',
 '₹649',
 '₹353']

In [260]:
len(brand_name), len(product_description), len(price)

(40, 39, 40)

In [281]:
Sunglasses_3 = pd.DataFrame({})
Sunglasses_3['Brand'] = brand_name[:20]
Sunglasses_3['Description'] =product_description[:20]
Sunglasses_3['Price'] = price[:20]
Sunglasses_3

,Brand,Description,Price
0,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹208
1,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹234
2,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...",₹277
3,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...","₹1,299"
4,Fastrack,UV Protection Shield Sunglasses (Free Size),₹329
5,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹424
6,Fastrack,UV Protection Round Sunglasses (55),₹278
7,VILLAIN,Others Wayfarer Sunglasses (Free Size),₹599
8,povty,UV Protection Retro Square Sunglasses (Free Size),₹249
9,PIRASO,UV Protection Aviator Sunglasses (58),₹133
10,elegante,UV Protection Wayfarer Sunglasses (Free Size),₹125
11,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (61)",₹345
12,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹149
13,Rich Club,"UV Protection, Polarized Oval, Retro Square Su...",₹325
14,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹299
15,NuVew,UV Protection Aviator Sunglasses (58),"₹1,419"
16,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹149
17,Rich Club,Polarized Round Sunglasses (48),₹329
18,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹749
19,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (60)",₹449

# Data for 100 sunglasses

In [282]:
dataset= pd.concat([Sunglasses_1,Sunglasses_2,Sunglasses_3],ignore_index=True)
dataset

            Brand                                        Description   Price
0    Singco India             UV Protection Wayfarer Sunglasses (50)    ₹614
1   VINCENT CHASE  UV Protection, Polarized Wayfarer Sunglasses (...    ₹930
2            SRPM              UV Protection Aviator Sunglasses (54)    ₹148
3          SUNBEE  UV Protection Aviator, Wayfarer Sunglasses (Fr...    ₹203
4          PIRASO              UV Protection Aviator Sunglasses (54)    ₹179
..            ...                                                ...     ...
95          NuVew              UV Protection Aviator Sunglasses (58)  ₹1,419
96     PHENOMENAL    UV Protection Clubmaster Sunglasses (Free Size)    ₹149
97      Rich Club                    Polarized Round Sunglasses (48)    ₹329
98     PHENOMENAL  UV Protection, Mirrored Clubmaster Sunglasses ...    ₹749
99         AISLIN    UV Protection, Gradient Cat-eye Sunglasses (60)    ₹449

[100 rows x 3 columns]